<div style="margin:30px auto 20px auto;width:70%;">
  <div style="float:left;"><a href="/"><img src="logo.png"></a></div>
  <div id="main_name" style="margin:20px" align="center">
    <h1>Analysis in Patent information Demo Page</h1>
  </div>
  <div style="height:20px;"></div>
</div>
  